@model Patient_Registration.Models.Call_Patients
@{
    ViewData["Title"] = "List Patient";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="row listpatientpaddingtop">
    
    <h2>Edit Patients</h2>
    <hr />
    <div class="col-md-12">
        <div class="border border-warning p-3 rounded-3">
            <div>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @* <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Id</label>
                            <input class="form-control" readonly name="Id" id="Id" value=@Model.Id />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            
                        </div>
                    </div> *@
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Mobile No</label>
                            <input class="form-control" readonly name="MobileNo" id="MobileNo" value=@Model.MobileNo />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">NIC</label>
                            <input class="form-control" name="NIC" id="NIC" value=@Model.NIC />                            
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Passport No</label>
                            <input class="form-control" name="PassportNo" id="PassportNo" value=@Model.PassportNo />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Designation</label>
                            @* <input class="form-control" name="Designation" id="Designation" value=@Model.Designation /> *@
                            <select name="Designation" id="AddPatientDesignation" class="form-control" dropzone="true">
                                <option value="">Select Option</option>
                                @if (Model.Designation == "Mr")
                                {
                                    <option selected value="Mr">Mr</option>
                                }
                                else
                                {
                                    <option value="Mr">Mr</option>
                                }
                                @if (Model.Designation == "Ms")
                                {
                                    <option selected value="Ms">Ms</option>
                                }
                                else
                                {
                                    <option value="Ms">Ms</option>
                                }
                                @if (Model.Designation == "Mrs")
                                {
                                    <option selected value="Mrs">Mrs</option>
                                }
                                else
                                {
                                    <option value="Mrs">Mrs</option>
                                }
                                @if (Model.Designation == "Baby")
                                {
                                    <option selected value="Baby">Baby</option>
                                }
                                else
                                {
                                    <option value="Baby">Baby</option>
                                }
                                @if (Model.Designation == "Rev")
                                {
                                    <option selected value="Rev">Rev</option>
                                }
                                else
                                {
                                    <option value="Rev">Rev</option>
                                }
                                @if (Model.Designation == "Master")
                                {
                                    <option selected value="Master">Master</option>
                                }
                                else
                                {
                                    <option value="Master">Master</option>
                                }
                                @if (Model.Designation == "Dr")
                                {
                                    <option selected value="Dr">Dr</option>
                                }
                                else
                                {
                                    <option value="Dr">Dr</option>
                                }
                                @if (Model.Designation == "Prof")
                                {
                                    <option selected value="Prof">Prof</option>
                                }
                                else
                                {
                                    <option value="Prof">Prof</option>
                                }
                                
                                
                            </select>
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Name</label>
                            <input class="form-control" name="Name" id="Name" value=@Model.Name />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Surname</label>
                            <input class="form-control" name="Surname" id="Surname" value=@Model.Surname />
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Resident Area</label>
                            <input class="form-control" name="ResidentArea" id="ResidentArea" value=@Model.ResidentArea />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Nationality</label>
                            <input class="form-control" name="Nationality" id="Nationality" value=@Model.Nationality />
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Religion</label>
                            <input class="form-control" name="Religion" id="Religion" value=@Model.Religion />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Relation Guardian</label>
                            @* <input class="form-control" name="RelationGuardian" id="RelationGuardian" value=@Model.RelationGuardian /> *@
                            <select id="AddPatientRelationGuardian" name="RelationGuardian" class="form-control" dropzone="true" >                                
                                <option value="">Select Option</option>
                                @if (Model.RelationGuardian == "Self")
                                {
                                    <option selected value="Self">Self</option>
                                }
                                else
                                {
                                    <option value="Self">Self</option>
                                }

                                @if (Model.RelationGuardian == "Mother")
                                {
                                    <option selected value="Mother">Mother</option>
                                }
                                else
                                {
                                    <option value="Mother">Mother</option>
                                }

                                @if (Model.RelationGuardian == "Father")
                                {
                                    <option selected value="Father">Father</option>
                                }
                                else
                                {
                                    <option value="Father">Father</option>
                                }

                                @if (Model.RelationGuardian == "Son")
                                {
                                    <option selected value="Son">Son</option>
                                }
                                else
                                {
                                    <option value="Son">Son</option>
                                }
                                
                                @if (Model.RelationGuardian == "Daughter")
                                {
                                    <option selected value="Daughter">Daughter</option>
                                }
                                else
                                {
                                    <option value="Daughter">Daughter</option>
                                }

                                @if (Model.RelationGuardian == "Next Of Kin")
                                {
                                    <option selected value="Next Of Kin">Next Of Kin</option>
                                }
                                else
                                {
                                    <option value="Next or Kind">Next Of Kin</option>
                                }

                                @if (Model.RelationGuardian == "Friend")
                                {
                                    <option selected value="Friend">Friend</option>
                                }
                                else
                                {
                                    <option value="Friend">Friend</option>
                                }

                                @if (Model.RelationGuardian == "Other")
                                {
                                    <option selected value="Other">Other</option>
                                }
                                else
                                {
                                    <option value="Other">Other</option>
                                }
                                
                               
                                
                            </select>
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Guardian ID</label>
                            <input class="form-control" name="GuardianID" id="GuardianID" value=@Model.GuardianID  />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Guardian Name</label>
                            <input class="form-control" name="GuardianName" id="GuardianName" value=@Model.GuardianName />
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Loyalty No</label>
                            <input class="form-control" name="LoyaltyNo" id="LoyaltyNo" value=@Model.LoyaltyNo />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">MemberID</label>
                            <input class="form-control" name="MemberID" id="MemberID" value=@Model.MemberID />
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Email</label>
                            <input class="form-control" name="Email" id="Email" value=@Model.Email />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Special Conditions</label>
                            <input class="form-control" name="SpecialConditions" id="SpecialConditions" value=@Model.SpecialConditions />
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Social Id</label>
                            <input class="form-control" name="SocialId" id="SocialId" value=@Model.SocialId />
                        </div>
                        <div class="col-sm-5 form-group toplogoandgreentext">
                            <label class="control-label marginlr-10 fw-bold">Active</label>
                            @* <input class="form-control" name="Active" id="Active" value=@Model.Active /> *@
                            <input class="form-check-input" asp-for="Active" value=@Model.Active />
                        </div>
                    </div>
                    <div class="row showinsameline">
                        <img />
                    </div>
                    <div class="form-group mt-4">
                        <div class="marginlr-10">
                            <input type="submit" value="Update" class="btn btn-success" />                           
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
